<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfguniovi.grande.peephole">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Peephole"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Peephole">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.GPS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatosActivity"
            android:label="@string/title_activity_datos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MailActivity"
            android:label="@string/title_activity_mail"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FinalizarActivity"
            android:label="@string/title_activity_finalizar"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".BluetoothService"
            android:exported="false"></service>
    </application>

</manifest>